html {
  font-family: helvetica, sans-serif;
}

h1 {
  color: #e05d00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  margin: 1rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

h2 {
  text-transform: uppercase;
  background-color: #eee;
  padding: 3px 10px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: .9rem;
  width: 3600px;
}

header {
  align-items: center;
  margin-bottom: 3rem;
}

nav a:hover {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  font-weight: lighter;
  transition-property: font-weight;
  transition-duration: 200ms;
  transition-timing-function: ease;
}


#pages img {
  height: 500px;
  padding: 5px;
}

#photos img {
  height: 400px;
  padding: 5px;
}
#pages, #photos{
  margin-bottom: 5rem;
}

#about p {
  margin: 10px;
  width: 750px;
}
