html {
  font-family: 'Work Sans', 'helvetica', sans-serif;
}

.center {
  justify-content: center;
}
h1 {
  color: #e05d00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  margin: 1rem 1rem 1rem 10rem;
  font-size: 2rem;
}

.flex {
  display: flex;
}

h2 {
  text-transform: uppercase;
  background-color: #eee;
  padding: 3px 10rem;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 1rem;
}

header {
  align-items: center;
  margin-bottom: 3rem;
}

nav a:hover {
  font-weight: 600;
  color: #333;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
}


#work img {
  width: 550px;
  margin-left: 10rem;
  box-shadow: 5px 5px 15px #aaa;
}

#work p {
  width: 400px;
  margin-left: 4rem;
  line-height: 1.25;
}

.item {
  margin-top: 3rem;
  align-items: center;
}

#work, #about {
  margin-bottom: 5rem;
}

#about p {
  margin: 1rem 10rem;
  width: 750px;
  line-height: 1.25;
}
